<ion-view view-title="Contact Us">
  <ion-content>   
		<div class="card">
			
			<div class="item item-stable item-text-divider">
				Location Information
			</div>
			<div class="item item-text-wrap">
				<h2><span style="font-size:130%;">Our Address</span></h2>
				<p><span style="font-size:130%;">121, Clear Water Bay Road</span></p>
				<p><span style="font-size:130%;">Clear Water Bay, Kowloon</span></p>
				<p><span style="font-size:130%;">HONG KONG</span></p>
				<p><i class="icon ion-ios-telephone"></i>: <span style="font-size:130%;">+852 1234 5678</span></p>
				
				<p><i class="icon ion-printer"></i>: <span style="font-size:130%;">+852 8765 4321</span></p>
				
				<p><i class="icon ion-android-mail"></i>: <span style="font-size:130%;text-decoration:underline; color:rgb(0, 0,255);">confusion@food.net</span></p>
				<br />
			</div>
			<div class="item item-divider" style="padding:0px;">
    			<div class="button-bar">
						<a class="button button-positive"><i class="icon ion-ios-telephone"></i> Call</a>
						<a class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
						<a class="button button-balanced"><i class="icon ion-email"></i> Email</a>
					</div>
  		</div>
			
		</div>
		
  </ion-content>
</ion-view